@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

body {
	font-family: "Unbounded", sans-serif;
	font-size: 17px;	
	line-height: 26px;
	background: #f6f6f6;
}

.wrapper {
	padding: 80px 0;
}

.wrapper .team_item {
	max-width: 320px;
	width: 100%;
	margin: 0 auto;
	background: #ffffff;
	position: relative;
	border-radius: 15px;
	text-align: center;
	z-index: 11;
	overflow: hidden;
}

.wrapper .team_item figure {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.wrapper .team_item:hover figure::before {
	visibility: visible;
	opacity: 1;
}

.wrapper .team_item figure::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 32%);
    z-index: -1;
    border-radius: 15px;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s all ease-in-out;
}

.wrapper .team_item figure img {
    width: 240px;
    height: 100%;
    transition: 0.4s all ease-in-out;
    margin-top: 30px;
    transform: translateY(10px);
}

.wrapper .team_item:hover figure img {
	transform: scale(1.10);
}

.wrapper .team_item figure svg {
    position: absolute;
    top: 27px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -11;
}

.wrapper .team_item:hover figure ul {
	visibility: visible;
	opacity: 1;
	bottom: 35%;
}

.wrapper .team_item figure ul {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s all ease-in-out;
}

.wrapper .team_item figure ul li {
	display: inline-block;
}

.wrapper .team_item figure ul li a {
	width: 45px;
	height: 45px;
	background: #ffffff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin: 0 3px;
	color: #000000;
	text-decoration: none;
	transition: 0.4s all ease-in-out;
}

.wrapper .team_item figure ul li a:hover {
	background: #1420d8;
	color: #ffffff;
}

.wrapper .team_item:hover .team_content {
	background: red;
}

.wrapper .team_item .team_content {
    padding: 15px;
    border-radius: 15px;
    background: #1420d8;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 30px;
    transition: 0.4s all ease-in-out;
}

.wrapper .team_item .team_content h3 {
	font-size: 20px;
	color: #ffffff;
}

.wrapper .team_item .team_content h3 a {
	text-decoration: none;
	color: #ffffff;
}

.wrapper .team_item .team_content p {
    color: #ffffff;
    font-size: 15px;
    margin-top: 5px;
}